.alt-header {
    width :100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    padding: var(--horizontal-space);
    padding-top: 35px;
    font-size: 18px;
    /* margin-bottom: 15px; */
}

.alt-header__title {
    font-size: 23px;
    font-weight: 600;
}

.alt-header__column {
    width: 33%;
}

.alt-header__column:first-child {
    margin-right: auto;
}

.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column:last-child {
    /* margin-left: auto; */
    display: flex;
    justify-content: flex-end;
}

.alt-header__column:last-child i{
    margin-left: 25px;
}

/* .alt-header__column span:last-child {
    margin-left: 25px;
} */