.search-header {
  padding: 60px var(--horizontal-space);
  padding-bottom: 13px;
  display: flex;
  position: relative;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  color: #B4B4B4;
  overflow: hidden;
  border-bottom: var(--bold-border);
}

.search-header__column {
  display: flex;
  justify-content: space-between;
}

.search-header h1 {
  display: block;
  margin-right: 8px;
  z-index: 1;
}

.search-header > .iconify {
  z-index: 2;
  display: box;
  box-shadow: 0px 0px 25px 30px white;
}

.search-header__btn:nth-child(2) {
  color: black;
  position: relative;
}

.search-header p {
  width: 50px;
  border-bottom: 2px solid black;
  position: absolute;
  bottom: 0px;
  left: 115px;
  z-index: 2;
}

.search-header__btn:nth-child(2) h1 {
  margin-left: 13px;
}

.search-header .iconify[data-icon="clarity:hashtag-solid"] {
  position: absolute;
  font-size: 13px;
  top: -3px;
}

.news-banner {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  position: relative;
}

.search-screen p {
  display: block;
  width: 100vw;
  position: absolute;
  left: -10px;
  border-bottom: var(--bold-border);
}

.news-banner__icon {
  height: 40px;
  width: 40px;
  font-size: 35px;
  overflow: hidden;
  background-color: #868CAC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-banner__link {
  margin-top: 10px;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
}

.new-banner__link h4 {
  color: #CC5E69;
  margin-right: 10px;
}

.new-banner__link i {
  margin-left: 4px;
}

.news-list {
  margin-top: 30px;
  font-size: 14px;
}

.search-header h1,
.search-screen h3,
.search-screen h4 {
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
  overflow:hidden;
}

.news-list h3 {
  padding: 5px 0px 13px 0px;
  margin-bottom: 7px;
  border-bottom: var(--thin-border);
}

.news-list__photo {
  display: flex;
  justify-content: space-between;
}

.news-list img {
  height: 95px;
  width: 157px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: -3px;
}

.news-list__column {
  display: column;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.news-list h5 {
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
  overflow:hidden;
  white-space: normal;
  line-height: 1.3;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 12px;
  margin-bottom: 20px;
}

.search-bar__container {
  width: 100%;
  padding: 10px;
  margin-left: -16px;
  bottom: 53px;
  position: fixed;
  justify-content: center;
  box-shadow: 8px 0px 5px 5px #e7e7e7;
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  justify-content: center;
  position: relative;
}

.search-bar input {
  border: 3px solid var(--yellow);
  border-radius: 10px;
  width: 90%;
  padding: 10px;
  padding-left: 115px;
  font-weight: 600;
}

.search-bar input::placeholder {
  color: #B2B2B2;
}

.search-bar .iconify[data-icon="ant-design:search-outlined"] {
  position: absolute;
  font-size: 23px;
  color: var(--gray);
  right: 15px;
  top: 8px;
}

.search-bar .iconify[data-icon="clarity:hashtag-solid"] {
  position: absolute;
  font-size: 17px;
  color: var(--yellow);
  left: 100px;
  top: 11px;
}

.search-bar img {
  height: 50px;
  width: 80px;
  position: absolute;  
  left: 10px;
  top: -10px;
}

.search-bar__tags {
  margin: 10px 0px;
  display: flex;
  justify-content: flex-start;
  font-size: 11px;
  color: var(--darkgray);
}

.search-bar__tag {
  background-color: #EFEFEF;
  border-radius: 25px;
  padding: 5px;
  margin-right: 10px;
  font-weight: 600;
}

.search-bar__tag--emphasis {
  background-color: #EB8795;
  color: white;
  font-weight: 300;
}
