#chat-screen {
    background-color: #abc1d1;
    height: 500vh;
}

#chat-screen .status-bar, 
#chat-screen .alt-header {
    background-color: #abc1d1;
}

#chat-screen .status-bar {
    z-index: 2;
}

#chat-screen .alt-header {
    z-index: 1;
    top: 0;
    position: fixed;
    width: 100%;
}

@keyframes fadeIn {
    from { 
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.main-chat {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn .6s linear;
}

.chat__timestamp {
    color: rgba(255,255,255, 0.6);
    background-color: #92A4B2;
    padding: 10px 15px;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius:20px;
    margin-right: 10px;
}

.message__author {
    opacity: 0.6;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

@keyframes fadeInFromLeft {
    from { 
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.message__bubble {
    background-color: white;
    padding: 8px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    padding: 13px;
    margin-right: 5px;
    font-size: 18px;
    opacity: 0;
    animation: fadeInFromLeft .5s ease-in-out forwards;
    animation-delay: .5s;
}

.message__time {
    font-size: 12px;
    opacity: 0.6;
}

.message-row--own {
    justify-content: flex-end;
}

@keyframes fadeInFromRight {
    from { 
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.message-row--own .message__bubble {
    background-color: var(--yellow);
    justify-content: flex-end;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    /* order: 1; */
    margin-right: 0px;
    margin-left: 5px;
    opacity: 0;
    animation: fadeInFromRight .5s ease-in-out forwards;
    animation-delay: 1s;
}

/* .message-row--own .message__time{
    order: 0;
} */

.message-row--own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    box-sizing: border-box;
    transition: transform .3s ease-in-out;
}

.reply i {
    opacity: 0.5;
}

.reply .reply__column:first-child {
    font-size: 30px;
    width: 10%;
}

.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply input {
    padding: 13px;
    box-sizing: border-box;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
    background-color: #F8F8F8;
    transition: all .3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: 3px;
    top: 2px;
}

.reply__column:last-child > i {
    top: 8px;
    right: 60px;
    font-size: 25px;
}

.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
}

.reply__column button i {
    opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
    transition: opacity .3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
    opacity: 0;
}

.reply input:focus {
    width: 95vw;
    transform: translateX(-13.5%) translateY(-80px);
}

.reply:focus-within {
    transform: translateY(80px);
}