@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/screen-header.css";
@import "components/nav-bar.css";
@import "components/user-component.css";
@import "components/badge.css";

/* screens */
@import "screens/welcome.css";
@import "screens/friends.css";
@import "screens/chats.css";

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}