.nav-bar {
  position: fixed;
  width: 100vw;
  bottom: 0;
  padding: 15px 30px;
  background-color: #F9F9FA;
  box-shadow: 0px 10px 10px 10px #E0E0E1;
  box-sizing: border-box;
}

.nav-bar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .iconify {
  font-size: 20px;
}

.nav-bar .iconify[data-icon="bi:person"] {
  padding-top: 2px;
  font-size: 25px;
}

.nav-bar .iconify[data-icon="bi:person-fill"] {
  padding-top: 2px;
  font-size: 25px;
}

.nav-bar__btn a {
  position: relative;
}

.nav-bar .badge__notification {
  position: absolute;
  bottom: 12px;
  left: 13px;
}

.nav-bar .badge__notice {
  position: absolute;
  bottom: 20px;
  left: 18px;
}