.status-bar {
  width: 100vw;
  display: flex;
  top: 0px;
  position: fixed;
  box-sizing: border-box;
  padding: 0px 5px;
  z-index: 2;
}

.status-bar__column {
  width: 33.33%;
  align-items: center;.status-bar
}

.status-bar__column:first-child {
  display: flex;
  justify-content: flex-start;
}

.status-bar__column:nth-child(2)
{
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.status-bar__column i {
  height: 15px;
  margin-left: 3px;
}

.status-bar .iconify { 
  width: 13px;
  height: 13px;
}

.status-bar .iconify[data-icon="bi:battery-full"] { 
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.status-bar .iconify[data-icon="mdi:lock-reset"] { 
  margin-right: 8px;
}
