.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    padding-top: 50px;
    /* margin-bottom: 15px; */
}

.screen-header__title {
    font-size: 28px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}

.screen-header__icons span:last-child {
    position: relative;
}

.screen-header__notice {
    bottom: 20px;
    left: -3px;
}


@keyframes rotateCog {
    from  {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-cog:hover {
    animation: rotateCog 2s linear infinite;
}